<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charter Quotes</title>

    <link rel="stylesheet" href="css/semantic.css">
    <link rel="stylesheet" href="css/master.css">

    <script src="js/jquery-3.3.1.js"></script>
    <script src="js/semantic.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>
<body>
    <div class="ui menu">
        <div class="ui container">
            <div class="item">
                <img class="ui middle aligned  tiny image" src="https://vgy.me/PJUqs1.png" alt="logo">
            </div>
            <div class="item">
                Quote Builder
            </div>
        </div>
    </div>
    <div class="ui container" id="vueApp">
        <div class="ui basic segment">
            <div class="ui center aligned horizontal divider header">
                Quote Builder
            </div>
            <div>
                <div class="ui form">
                    <div class="field">
                        <label for="">Client Info</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="client[name]" placeholder="Full Name" v-model="client.clientName">
                            </div>
                            <div class="field">
                                <input type="text" name="client[company]" placeholder="Company Name" v-model="client.clientOrg">
                            </div>
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label for="resDt">Reservation On</label>
                            <input type="date" name="resDt" v-model="resDt">
                        </div>
                        <div class="field">
                            <label for="vehType">Vehicle Type</label>
                            <select name="vehType" id="vehType" v-model="vehType" v-on:change="affiliateHourly">
                                <option v-for="veh in vehTypes" :key="veh">
                                    {{ veh }}
                                </option>
                            </select>
                        </div>
                        <div class="field">
                            <label for="hours"># of Hours</label>
                            <input type="number" name="hours" value="2" v-model="hours" v-on:input="affiliateTotal">
                        </div>
                    </div>
                    <div class="five fields">
                        <div class="field">
                            <label for="affFeeHr">Affiliate Hourly Fee</label>
                            <input type="number" name="affFeeHr" id="affFeeHr" v-model="affFeeHr" v-on:input="affiliateTotal">
                        </div>
                        <div class="field">
                            <label for="feeMarkup">Mark-up</label>
                            <input type="number" name="feeMarkup" id="feeMarkup" v-model="feeMarkup" v-on:input="affiliateTotal">
                        </div>
                        <div class="field">
                            <label for="affFeeTotal">Affiliate Total Fee</label>
                            <input type="number" name="affFeeTotal" id="affFeeTotal" v-model="affFeeTotal">
                        </div>
                        <div class="field">
                            <label for="feeDiscountPerc">Discount %</label>
                            <input type="number" name="feeDiscountPerc" id="feeDiscountPerc" step="0.01" max="100" v-model="feeDiscountPerc" v-on:input="affiliateTotal">
                        </div>
                        <div class="field">
                            <label for="affFeeTotalDiscounted">Affiliate Discounted Total Fee</label>
                            <input type="number" name="feeDiscountPerc" id="affFeeTotalDiscounted" v-model="affFeeTotalDiscounted">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui tall stacked segment">
            <div class="ui icon center aligned large header">
                <i class="ui icon wpforms"></i>
                New Quote
            </div>
            <div class="ui form">
                <div class="ui horizontal divider">
                    Client Info
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Client Name:</label>
                        <input type="text" readonly="" v-model="client.clientName">
                    </div>
                    <div class="field">
                        <label for="clientOrgLbl">Client Organization: </label>
                        <input type="text" readonly="" v-model="client.clientOrg">
                    </div>
                </div>
                <div class="ui horizontal divider">
                    Reservation Info
                </div>
                <div class="four fields">
                    <div class="field">
                        <label>Reservation On</label>
                        <input type="date" readonly="" v-model="resDt">
                    </div>
                    <div class="field">
                        <label>Vehicle Type</label>
                        <input type="text" readonly="" v-model="vehType">
                    </div>
                    <div class="field">
                        <label>Hours</label>
                        <input type="text" readonly="" v-model="hours">
                    </div>
                    <div class="field">
                        <label>Total Cost</label>
                        <input type="text" v-model="affFeeTotalStr">
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <script src="js/master.js"></script>
</body>
</html>